* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

#comic-lp {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0;
	display: flex;
	align-items: center;
}

.comic-lp-container {
	display: flex;
	align-items: center;
	margin: auto;
	padding-top: 80px;
}

/**
.comic-poster img {
	width: 380px;
}
*/

.comic-desc-container{
	width: 400px;
	float: left;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 60px;
}

.comic-desc-container p {
	font-family: pf-videotext, sans-serif;
	font-size: 18px;
	text-align: justify;
	letter-spacing: -5;
	line-height: 1.4;
	color: #FBFF3D;
}

.comic-desc-container a {
	width: 250px;
	background-color: #180C7D;
	font-family: "Nuetrina", sans-serif;
	font-size: 24px;
	color: #FBFF3D;
	text-decoration: none;
	text-align: center;
	padding: 20px 40px;
	display: inline-block;
	transition-duration: 0.3s;
	margin-top: 20px;
}

.comic-desc-container a:hover {
	background: #F4FBFF;
	border: 3px solid #180C7D;
	color: #180C7D;
}

.comic-desc-container a:active {
	background-color: #180C7D;
	color: #FBFF3D;
}

@media screen and (min-width: 750px) {
	#hamburger {
		display: none;
	}
}

@media screen and (max-width: 749px) {
	body {
		font-size: 14px !important;
	}
	
	#myNav {
		height: 100vh;
		float: right;
		background: #141B5D;
		color: #FF6EC0;
		width: 40%;
		box-shadow: 0 1px 20px rgba(0,0,0,0.25);
		position: relative;
		z-index: 3;  
		transform: translateX(200px);
		opacity: 0;
		margin: 0;
		transition: all .2s ease-in-out;
	}

	#myNav.visible {
		transform: translateX(0);
		opacity: 1;
	}

	#myNav ul {
		list-style: none;
		padding: 0;
	}

	#myNav ul li {
		width: 100%;
		transition: all 0.15s ease;
	}

	#myNav ul li a {
		display: block;
		padding: 10px 0 10px 20px;
		width: 100%;
		height: 100%;
		text-align: left;
		font-size: 20px;
	}

	#myNav ul li:hover {
		transition: all 0.15s ease;
	}
	
	h1 {
		font-size: 32px;
	}
	
	.comic-lp-container {
		width: 100%;
	}
}