* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family: pf-videotext, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 1.4;
	background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('../images/city-bg.jpg');
	background-size: cover;
	background-position: center;
}

h1 {
	font-weight: 300;
}

img {
    width: 100%;
}

/* Mobile hamburger */
#hamburger {
  height: 50px;
  width: 50px;
  background: #FF6EC0;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  transition: all .2s ease;
  z-index: 9999;
}
  
#hamburger:hover {
  box-shadow:  0 0 1px #f0f,
  	0 0 3px #f0f,
  	0 0 5px #f0f,
  	0 0 7px #f7a,
  	0 0 10px #f7a,
  	0 0 12px #f7a,
  	0 0 16px #f7a,
  	0 0 18px #f7a;
  transition: all .2s ease;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 10px;
  transition: all .15s ease;
}
  
#hamburger span:first-child {
  top: 17px;
}
  
#hamburger span:nth-child(2) {
  top: 25px;
}
  
#hamburger span:last-child {
  top: 33px;
}

#hamburger.close {
  box-shadow: 0 0 1px #f0f,
      0 0 3px #f0f,
      0 0 5px #f0f,
      0 0 7px #f7a,
      0 0 10px #f7a,
      0 0 12px #f7a,
      0 0 16px #f7a,
      0 0 18px #f7a;
}
    
#hamburger.close span:first-child {
  top: 15px;
  transform: translate(-14px, 10px) rotate(135deg);
}

#hamburger.close span:nth-child(2) {
  left: -20px;
  opacity: 0;
}

#hamburger.close span:last-child {
  top: 15px;
  transform: translate(-14px, 10px) rotate(-135deg);
}

/* End of mobile navigation */

header {
	position: absolute;
	padding: 0;
}

nav {
	float: none;
	width: 100%;
	margin: 15px 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

nav ul li {
	display: inline-block;
	text-align: center;
	font-family: "Nuetrina", sans-serif;
	font-size: 20px;
	padding-right: 40px;
}

nav ul li a {
	color: #FF6EC0;
	text-decoration:none;
}

li a:hover {
  color: #FFCDE9;
  text-shadow:
      0 0 1px #f0f,
      0 0 3px #f0f,
      0 0 5px #f0f,
      0 0 7px #f7a,
      0 0 10px #f7a,
      0 0 12px #f7a,
      0 0 16px #f7a,
      0 0 18px #f7a;
}

li a:active {
  color: #FFCDE9;
  text-shadow:
      0 0 1px #f0f,
      0 0 3px #f0f,
      0 0 5px #f0f,
      0 0 7px #f7a,
      0 0 10px #f7a,
      0 0 12px #f7a,
      0 0 16px #f7a,
      0 0 18px #f7a;
}

.nav-wrapper {
  display: none;
}

#landing-page {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
}

.background-video {
	width: 100%;
	object-fit: cover;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 50%; /* Position the logo vertically centered */
    transform: translateY(-50%); /* Center the logo vertically */
}

.logo img {
    width: 20%;
}

.footer-links-lp {
  width: 100%;
  margin: auto;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 2rem;
  background-color: transparent;
  z-index: 1;
}

.footer-links-lp a {
  display: inline-block;
  margin: 0 10px;
}

.footer-links-lp img {
	width: 20px;
  height: 20px;
	filter: invert(1);
}

/*about chronicle cipher*/

#hp-about {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0;
}

.hp-about-maincontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 30px;
}

.hp-about-poster img {
	width: 400px;
	padding: 50px;
	margin-right: 20px;
}

.hp-about-container {
	width: 600px;
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	margin-left: 20px;
}

.hp-about-container img {
	width: 400px;
	margin: 20px;
	margin-top: 0;
	padding-bottom: 30px;
}

.hp-about-container p {
	font-family: pf-videotext, sans-serif;
	font-size: 18px;
	text-align: justify;
	color: #FBFF3D;
}

/*PROJECT RATIONALE*/

#hp-rationale {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0;
}

.article {
	position: absolute;
	font-family: pf-videotext, sans-serif;
}

/*headline 1 - bruno mars*/

.article#one {
	width: 500px;
	height: 100px;
	background: #F4FBFF;
	border: 4px solid #FF6EC0;
	top: 80px;
	left: 360px;
}

.article-container#one {
	width: 80%;
	float: left;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
}

.article#one h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	margin-bottom: 0;
	margin-top: auto;
}

.article#one p {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}

/*headline 4 - andrew tate*/

.article#four {
	width: 700px;
	height: 100px;
	background: #F4FBFF;
	border: 4px solid #FF6EC0;
	top: 500px;
	right: 60px;
}

.article-container#four {
	width: 100%;
	float: left;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
}

.article#four h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	line-height: 0.95;
	margin-bottom: 0;
	margin-top: auto;
}

.article#four p {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding-top: 10px;
}

/*headline 2 - tswift*/

.article#two {
	width: 700px;
	height: 100px;
	background: #F4FBFF;
	border: 4px solid #FF6EC0;
	top: 420px;
	left: 130px;
}

.article-container#two {
	width: 100%;
	float: left;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
}

.article#two h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	margin-bottom: 0;
	margin-top: auto;
}

.article#two p {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}

/*headline 3 - area 51*/

.article#three {
	width: 700px;
	height: 130px;
	background: #F4FBFF;
	border: 4px solid #FF6EC0;
	top: 215px;
	left: 60px;
}

.article-container#three {
	width: 100%;
	float: left;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
}

.article#three h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
	line-height: 0.95;
	margin-bottom: 0;
	margin-top: auto;
}

.article#three p {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding-top: 10px;
}

/*about misinformation*/

.misinfo-article {
	position: absolute;
	width: 500px;
	height: 300px;
	background: #F4FBFF;
	border: 4px solid #FBFF3D;
	top: 150px;
	right: 200px;
}

.misinfo-container {
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 20px;
	position: relative;
}

.misinfo-container h1 {
	font-family: pf-videotext, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 34px;
	letter-spacing: -0.8px;
	line-height: 0.95;
	margin: 0;
}

.misinfo-container p {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: -0.6px;
	padding-top: 18px;
	margin: 0;
}

.misinfo-container a {
	background-color: #180C7D;
	font-family: pf-videotext, sans-serif;
	font-size: 18px;
	color: #FBFF3D;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	display: inline-block;
	float: right;
	margin-left: auto;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.misinfo-container a:hover {
	background: #F4FBFF;
	border: 3px solid #180C7D;
	color: #180C7D;
}

.misinfo-container a:active {
	background-color: #180C7D;
	color: #FBFF3D;
}

/*COMIC SECTION*/

#hp-comic {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0;
}

.hp-comic-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 30px;
}

.hp-comic-poster {
	padding: 20px;
	position: relative;
	align-items: center;
}

.hp-comic-poster img {
	width: 500px;
	padding: 30px;
}

.hp-comic-desc-container{
	width: 600px;
	float: right;
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin-left: 20px;
}

.hp-comic-desc-container p{
	font-family: pf-videotext, sans-serif;
	font-size: 18px;
	text-align: justify;
	letter-spacing: -5;
	line-height: 1.4;
	color: #FBFF3D;
	margin-bottom: 20px;
}

.hp-comic-desc-container h1 a {
	background: none;
	font-family: "Nuetrina", sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #FF6EC0;
	text-decoration: none;
	transition-duration: 0.03s;
}

.hp-comic-desc-container h1 a:hover {
  color: #FFCDE9;
  text-shadow:
      0 0 1px #f0f,
      0 0 3px #f0f,
      0 0 5px #f0f,
      0 0 7px #f7a,
      0 0 10px #f7a,
      0 0 12px #f7a,
      0 0 16px #f7a,
      0 0 18px #f7a;
}

/*GAME DOWNLOAD SECTION*/

#hp-gamedownload {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hp-game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 30px;
	z-index: 1;
}

.hp-game-poster {
	width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 30px;
}

.hp-game-container h1 a{
	background: none;
	font-family: "Nuetrina", sans-serif;
	font-weight: 400;
	font-size: 42px;
	letter-spacing: 1px;
	color: #FF6EC0;
	text-decoration: none;
	transition-duration: 0.03s;
	padding-top: 30px;
}

.hp-game-container h1 a:hover {
  color: #FFCDE9;
  text-shadow:
    0 0 1px #f0f,
    0 0 3px #f0f,
    0 0 5px #f0f,
    0 0 7px #f7a,
    0 0 10px #f7a,
    0 0 12px #f7a,
    0 0 16px #f7a,
    0 0 18px #f7a;
}

/* THE TEAM SECTION */

#hp-team {
	width: 100%;
	position: relative;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hp-team-title {
	font-family: "Nuetrina", sans-serif;
	font-weight: 400;
	font-size: 42px;
	color: #FFCDE9;
	text-shadow:
    0 0 1px #f0f,
    0 0 3px #f0f,
    0 0 5px #f0f,
    0 0 7px #f7a,
    0 0 10px #f7a,
    0 0 12px #f7a,
    0 0 16px #f7a,
    0 0 18px #f7a;
}

.hp-team-container {
	max-width: 1280px;
	width: 90%;	
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	justify-items: space-between;
}

.hp-team-member {
	height: auto;
	width: 280px;
	padding: 30px;
	float: left;
	color: #FFCDE9;
	position: relative;
	display: flex;
	flex-direction: column;
}

.hp-team-member img {
	padding-bottom: 0px;
}

.hp-team-member h2 {
	font-family: "Nuetrina", sans-serif;
	letter-spacing: 1px;
	font-size: 22px;
	margin: 20px 0 0 0;
	color: #C7F7FF;
	text-shadow:
    0 0 1px #0027FF,
    0 0 3px #0027FF,
    0 0 5px #0027FF,
    0 0 7px #0027FF,
    0 0 9px #83EEFF,
    0 0 10px #83EEFF;
}

.hp-team-member h3 {
	font-family: 'pf-videotext', sans-serif;
	color: #FBFF3D;
	font-size: 14px;
	font-weight: 400;
	float: left;
	padding-top: 5px;
}

/***FOOTER***/

footer {
	width: 100%;
	background-color: black;
	display: block;
	position: relative;
	text-align: center;
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	z-index: 1;
	position: relative;
}

.footer-links-container {
	width: 100%;
	height: 30px;
	margin: auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.footer-links-container a {
	display: inline-block;
    margin: 0 10px;
}

.footer-links-container img {
	width: 20px;
	height: 20px;
	filter: invert(1);
}

.footer-logo img {
	width: 150px;
	padding: 20px;
}

.footer-nav-container {
	width: 100%;
	margin: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-nav-container ul li {
	display: inline-block;
	text-align: center;
	font-family: "Nuetrina", sans-serif;
	padding-right: 40px;
}

.footer-nav-container ul li:last-child {
	padding-right: 0;
}

.footer-nav-container ul li a {
	color: #FF6EC0;
	text-decoration:none;
	font-size: 16px;
}

.footer-nav-container li a:hover {
  color: #FFCDE9;
  text-shadow:
      0 0 1px #f0f,
      0 0 3px #f0f,
      0 0 5px #f0f,
      0 0 7px #f7a,
      0 0 10px #f7a,
      0 0 12px #f7a,
      0 0 16px #f7a,
      0 0 18px #f7a;
}

.footer-nav-container li a:active {
  color: #FFCDE9;
  text-shadow:
      0 0 1px #f0f,
      0 0 3px #f0f,
      0 0 5px #f0f,
      0 0 7px #f7a,
      0 0 10px #f7a,
      0 0 12px #f7a,
      0 0 16px #f7a,
      0 0 18px #f7a;
}

.footer-nav-container p, .footer-container p {
	color: #FFCDE9;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 750px) {
	#hamburger {
		display: none;
	}
}

@media screen and (max-width: 749px) {
	body {
		font-size: 14px !important;
	}
	
	#myNav {
		height: 100vh;
		float: right;
		background: #141B5D;
		color: #FF6EC0;
		width: 40%;
		box-shadow: 0 1px 20px rgba(0,0,0,0.25);
		position: relative;
		z-index: 3;  
		transform: translateX(200px);
		opacity: 0;
		margin: 0;
		transition: all .2s ease-in-out;
	}

	#myNav.visible {
		transform: translateX(0);
		opacity: 1;
	}

	#myNav ul {
		list-style: none;
		padding: 0;
	}

	#myNav ul li {
		width: 100%;
		transition: all 0.15s ease;
	}

	#myNav ul li a {
		display: block;
		padding: 10px 0 10px 20px;
		width: 100%;
		height: 100%;
		text-align: left;
		font-size: 20px;
	}

	#myNav ul li:hover {
		transition: all 0.15s ease;
	}
	
	h1 {
		font-size: 32px;
	}

	/* Landing page*/
	.logo img {
		width: 60%;
	}
	
	.background-video {
		display: none;
	}

	/* HP About */
	#hp-about { 
		height: auto;
	}
	
	.hp-about-maincontainer {
		z-index: unset;
		flex-direction: column;
	}

	.hp-about-container {
		width: 100%;
		float: unset;
		padding: 20px;
		margin-left: 0;
		font-size: 16px;
	}
	
	.hp-about-container p {
		font-size: 16px;
	}

	.hp-about-poster img {
		width: 100%;
		padding: 0 30px 30px 30px;
		margin: 0;
	}

	.hp-about-container img {
		width: 60%;
		margin: 0;
	}

	/*HP Rationale */
	#hp-rationale {
		height: auto;
	}

	.hp-rationale-container {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: auto;
		padding: 20px;
	}

	.article#one,
	.article#two,
	.article#three,
	.article#four,
	.misinfo-article {
		position: unset;
		width: 100%;
		height: auto;
		top: unset;
		left: unset;
	}

	.article {
		margin-bottom: 15px;
	}

	.article-container#one,
	.article-container#two,
	.article-container#three,
	.article-container#four {
		padding: 20px;
	}

	.article#one h1,
	.article#two h1,
	.article#three h1,
	.article#four h1,
	.misinfo-container h1 {
		font-size: 22px;
	}

	/* HP Comic */
	
	#hp-comic {
		height: auto;
	}

	.hp-comic-container {
		padding-top: 0px;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	.hp-comic-desc-container {
		width: 100%;
		float: unset;
		padding: 20px;
		margin-left: 0;
	}
	
	.hp-comic-poster {
		margin-top: 40px;
	}

	.hp-comic-poster img {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.hp-comic-desc-container p {
		font-size: 16px;
	}
	
	.hp-comic-desc-container h1 a {
		font-size: 32px;
	}

	/* HP Game Download */
	#hp-gamedownload {
		height: auto;
	}

	.hp-game-poster {
		width: 100%;
		padding: 0;
	}

	.hp-game-container h1 a {
		text-align: center;
		font-size: 32px;
	}

	/* HP Team */
	#hp-team {
		height: auto;
	}
	
	#hp-team h1 {
		font-size: 32px;
	}
	
	.hp-team-container {
		align-items: center;
		flex-direction: column;
	}

	.hp-team-maincontainer, .hp-team-container {
		padding: 0;
	}

	.hp-team-member { padding-top: 10px; }

	.footer-nav-container ul li {
		padding-right: 10px;
	}

	.footer-nav-container ul li:last-child {
		padding-right: 0;
	}
}